<%= form_for @order do |f| %>
  
  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :order_detail %>
    <%= f.text_field :order_detail %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
